<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script>
	$(function(){
		$("#joinForm").submit(function(){
			if($("#pw").val() !== $("#pw2").val()){
				alert("비밀번호가 다릅니다.");
				$("#pw").val("").focus();
				$("#pw2").val("");
				return false;
			}else if ($("#pw").val().length < 8) {
				alert("비밀번호는 8자 이상으로 설정해야 합니다.");
				$("#pw").val("").focus();
				return false;
			}else if($.trim($("#pw").val()) !== $("#pw").val() || $.trim($("#email").val()) !== $("#email").val() || $.trim($("#id").val()) !== $("#id").val()){
				alert("공백은 입력이 불가능합니다.");
				return false;
			}
		})

		$("#email").keyup(function() {
			$.ajax({
				url : "../member/check_email.do",
				type : "GET",
				data : {
					email : $("#email").val()
				},
				success : function(result) {
					if (result == 1) {
						$("#email_check").html("중복된 이메일이 있습니다.");
						$("#joinBtn").attr("disabled", "disabled");
					} else {
						$("#email_check").html("");
						$("#joinBtn").removeAttr("disabled");
					}
				},
			})
		});

		$("#phone").keyup(function(){
			$.ajax({
				url : "./check_phone.do",
				type : "GET",
				data : {
					phone : $("#phone").val()
				},
				success : function(result) {
					if (result == 1) {
						$("#phone_check").html("중복된 전화번호가 있습니다.");
					} else {
						$("#phone_check").html("");
					}
				},
			})
		});
	})
    </script>
</head>
<body>
<div>
    <div>
        <div>
            <h3>Member Join Form</h3>
        </div>
        <div>
            <form id="joinForm" action="./member/join_member.do" method="post">
                <p>
                    <label>Email</label>
                    <input type="text" id="email" name="email" required placeholder="이메일 인증 후 로그인이 가능합니다.">
                    <span id="email_check"></span>
                </p>
                <p>
                    <label>Password</label>
                    <input id="pw" name="pw" type="password" required>
                </p>
                <p>
                    <label>Confirm</label>
                    <input id="pw2" type="password" required>
                </p>
                <p>
                    <label>Phone</label>
                    <input type="text" id="phone" name="phone" required >
                    <span id="phone_check"></span>
                </p>
                <p>
                    <button type="submit" id="joinBtn">Join</button>
                    <button type="button" onclick="history.go(-1);">Cancel</button>
                </p>
            </form>
        </div>
    </div>
</div>
</body>
</html>